table#search {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table#search th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
table#search th {
  background: #e00404;
  background: linear-gradient(#e00404, #8e0303);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
table#search th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
table#search th:last-child {
  border-top-right-radius: 5px;
}
table#search tbody tr:nth-child(even) {
  background: #f0f0f2;
}
table#search td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
table#search td:first-child {
  border-left: 1px solid #cecfd5;
}
table#search .book-title {
  color: #e00404;
  display: block;
}
table#search .text-offset {
  color: #7c7c80;
  font-size: 12px;
}

table#search tfoot {
  text-align: right;
}
table#search tfoot tr:last-child {
  background: #f0f0f2;
  color: #e00404;
  font-weight: bold;
}
table#search tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table#search tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
